.footer {
  background-color: #1b1818;
  min-height: 30vh;
  width: 100vw;
  padding: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
}

.footerText {
  width: 30vw;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.footerForm {
  display: flex;
  gap: 1rem;
}

.formInput {
  height: 2.2rem;
  width: 12vw;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
}

.footerBtn {
  background-color: rgba(0, 0, 0, 0);
  border: solid white 1px;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  color: white;
  border-radius: 0.2rem;
  width: 5rem;
  height: 2.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.footerBtn:hover {
  background-color: white;
  color: black;
}

.footerLinks {
  width: 40vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10vw;
  padding: 0.5rem;
}

.footerLink:nth-child(1) {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.footerLink {
  padding: 0.5rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 960px) {
  .footerText {
    width: 70vw;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .footerForm {
    width: 80vw;
    justify-content: center;
  }

  .formInput {
    width: 30vw;
  }
}
